<div id="login_form">
<% form_tag session_path do -%>
<p><label for="login"><%= :login.l("Login") %></label><br />
<%= text_field_tag 'login' %></p>

<p><label for="password"><%= :password.l("Password") %></label><br />
<%= password_field_tag 'password' %></p>

<p><label for="remember_me"><%= :remember_me.l("Remember me") %></label>
<%= check_box_tag 'remember_me' %></p>

<p><%= submit_tag :log_in.l("Log in") %></p>
<% end -%>
</div>
