<h1><%= :editing_entry.l("Editing entry") %></h1>

<%= error_messages_for :entry %>

<% form_for(@entry) do |f| %>
  <p>
    <b><%= :language.l("Language") %></b><br />
    <%= language_select :entry, :language_id %>
  </p>

  <p>
    <b><%= :value.l("Value") %></b><br />
    <%= f.text_field :value %>
  </p>

  <p>
    <%= f.submit :update.l("Update") %>
  </p>
<% end %>
<div class="actions">
<%= link_to :show.l('Show'), @entry %> |
<%= link_to :back.l("back"), entries_path %>
</div>