<h1>Editing entry</h1>

<%= error_messages_for :entry %>

<% form_for(@entry) do |f| %>
  <p>
    <b><%= :language.l("Language") %></b><br />
    <%= language_select :entry, :language %>
  </p>

  <p>
    <b><%= :value.l("Value") %></b><br />
    <%= f.text_field :value %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @entry %> |
<%= link_to 'Back', entries_path %>
