<% for entry in @entries %>
  <div class="actions side">
    <%= link_to :edit.l("edit"), edit_entry_path(entry) %><br />
    <%= link_to :destroy.l("destroy"), entry, :confirm => :are_you_sure.l("Are you sure?"), :method => :delete %><br />
  </div>
  <div class="content">
    [<%=link_to(h(entry.language.code_ISO_639_1), entry.language) %>]
    <%=link_to(h(entry.value), entry) %>
  </div>
<% end %>

<br />
<div class="actions">
  <%= link_to 'New entry', new_entry_path %>
</div>
