<h1><%= :new_entry.l("New Entry") %></h1>

<%= error_messages_for :entry %>

<% form_for(@entry) do |f| %>
  <p>
    <b><%= :language.l("Language") %></b><br />
    <%= language_select :entry, :language %>
  </p>

  <p>
    <b><%= :value.l("Value") %></b><br />
    <%= f.text_field :value %>
  </p>

  <p>
    <%= f.submit :create.l("Create") %>
  </p>
<% end %>

<%= link_to :back.l("Back"), entries_path %>
