<h1><%= :new.l("New") %> <%= :part_of_speech.l("Part of speech") %></h1>

<% form_for(@part_of_speech) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :language_id, :language.l("Language") %><br />
    <%= language_select :part_of_speech, :language_id %>
  </p>
  <p>
    <%= f.label :value, :value.l("Value") %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :description, :description.l("Description") %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit :create.l("Create") %>
  </p>
<% end %>

<%= link_to :back.l("Back"), part_of_speeches_path %>
