<h1><%= :listing_languages.l("Listing languages") %></h1>

<table>
  <tr>
    <th><%= :name.l %></th>
    <th><%= :code_ISO_639_1.l %></th>
    <th>Code iso 639 2</th>
    <th>Code iso 639 3</th>
  </tr>

<% for language in @languages %>
  <tr>
    <td><%=h language.name %></td>
    <td><%=h language.code_ISO_639_1 %></td>
    <td><%=h language.code_ISO_639_2 %></td>
    <td><%=h language.code_ISO_639_3 %></td>
    <td><%= link_to 'Show', language %></td>
    <td><%= link_to 'Edit', edit_language_path(language) %></td>
    <td><%= link_to 'Destroy', language, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New language', new_language_path %>
