<p>
  <b>Parent:</b>
  <%=h @definition.parent %>
</p>

<p>
  <b>Language:</b>
  <%=h @definition.language %>
</p>

<p>
  <b>Domain:</b>
  <%=h @definition.domain %>
</p>

<p>
  <b>Content:</b>
  <%=h @definition.content %>
</p>

<p>
  <b>Order:</b>
  <%=h @definition.order %>
</p>


<%= link_to 'Edit', edit_definition_path(@definition) %> |
<%= link_to 'Back', definitions_path %>
