<h1><%= :new_domain.l("Nouveau Domaine") %></h1>
<%= error_messages_for :domain %>
<% form_for(@domain) do |f| %>
  <% @domain.domain_metas.each do |m| %>
    <% fields_for "domain[domain_metas_attributes][]", m do |m_fields| %>
      <fieldset>
        <legend><%= m.language.public_name %></legend>
        <p>
          <%= m_fields.label :name, :name.l %>
          <br/>
          <%= m_fields.text_field :name %>
        </p>
        <p>
          <%= m_fields.label :description, :description.l %>
          <br/>
          <%= m_fields.text_field :description %>
        </p>
        <%= m_fields.hidden_field :language_id, :value => m.language[:id] %>
      </fieldset>
    <% end %>
  <% end %>
  <p>
    <%= f.submit :create.l %>
  </p>
<% end %>
<%= link_to :back.l, domains_path %>
