<p>
  <b>Name:</b>
  <%=h @domain_meta.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @domain_meta.description %>
</p>

<p>
  <b>Language:</b>
  <%=h @domain_meta.language %>
</p>

<p>
  <b>Domain:</b>
  <%=h @domain_meta.domain %>
</p>


<%= link_to 'Edit', edit_domain_meta_path(@domain_meta) %> |
<%= link_to 'Back', domain_metas_path %>
