<h1><%= :edit_category.l("Editing category") %></h1>

<%= error_messages_for :category %>

<% form_for(@category) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit :update.l("Update") %>
  </p>
<% end %>

<%= link_to :show.l("Show"), @category %> |
<%= link_to :back.l("Back"), categories_path %>
