<h1><%= :new_category.l("New Category") %></h1>

<%= error_messages_for :category %>

<% form_for(@category) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit :create.l("Create") %>
  </p>
<% end %>

<%= link_to :back.l("Back"), categories_path %>
